/* CSS declarations go here */

body {
  padding-right: 5px; /* temporary fix for uneven L-R spacing */
}

h4 {
  font-size: 1.2em;
}

.ut-btn {
  font-weight: bold;
  min-width: 9em;
}

#ut-wrapper {
  width: 100%;
}

#ut-display {
  display: none;
}

.ut-label {
  font-weight: bold;
}