/* CSS declarations go here */

body {
  padding-right: 5px; /* temporary fix for uneven L-R spacing */
}

h4 {
  font-size: 1.2em;
}

.btns-wrapper {
  margin-bottom: 1em;
}

.ut-btn {
  border: 1px solid #e6ac00;
  width: 100%;
  font-weight: bold;
  background-color: #ffbf00;
}

#statusMsg {
  width: 100%;
  text-align: center;
}

#ut-wrapper {
  width: 100%;
}

.ut-label {
  font-weight: bold;
}


#bp-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#bpNumDisplay {
  display: inline-block;
  position: relative;
  margin-top: 40%;
  font-size: 2em;
  color: #333;
  z-index: 10;
}

.bp-guide-s,
.bp-guide-d {
  border: 1px solid gray;
  background-color: transparent;
}

.bp-guide-s,
.bp-guide-d,
.bp-circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
}

.bp-circle {
  border: 1px solid #72c6ed;
  background-color: #89cff0;
}

#bp-diastolic {
  border-color: #1d99b7;
  background-color: #21abcd;
}
